<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jfeat.am.module.survey.services.persistence.dao.SurveyAnswerMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.jfeat.am.module.survey.services.persistence.model.SurveyAnswer">
		<id column="id" property="id" />
		<result column="survey_id" property="surveyId" />
		<result column="author_id" property="authorId" />
		<result column="author_message" property="authorMessage" />
		<result column="content" property="content" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, survey_id AS surveyId, author_id AS authorId, author_message AS authorMessage, content
    </sql>

</mapper>
